@use "sass:math";
.main {
  perspective: 500px;
  perspective-origin: 50% calc(50% - 100px);
}

$width: 70px;

.container {
  display: flex;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 1s infinite linear;
  animation-delay: 0.5s;

  &__panel {
    width: $width;
    height: $width;
    color: black;
    background-color: hsl(var(--hue), 70%, 70%);
    transform: translate(-50%, var(--disY)) rotateY(var(--angle)) translateZ(-170px);
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    visibility: hidden;
    animation: showSpiral 0.5s var(--delay) infinite linear;

    @for $i from 0 to 288 {
      &:nth-child(#{$i + 1}) {
        --hue: #{math.div(1080, 288) * $i};
        --disY: #{$i * -0.1rem};
        --delay: #{$i * 0.01s};
        --angle: #{math.div(1080deg, 288) * $i}
      }
    }
  }
}

@keyframes showSpiral {
  0% {
    visibility: hidden
  }
  100% {
    visibility: visible
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg)
  }
  100% {
    transform: rotateY(360deg)
  }
}
